/**
 *****************************************
 * Created by edonet@163.com
 * Created on 2022-03-14 18:29:34
 *****************************************
 */
@charset "utf-8";


/**
 *****************************************
 * 样式
 *****************************************
 */
.app {
    width: 100%;
}

.red {
    color: red;
}

.f12 {
    font-size: 12px;
}
